.home-container {
  width: 100%;
  height: calc(100% - 20px);
  color: #333;
  position: relative;

  .container-up {
    height: 50%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
  }

  .container-down {
    height: calc(50% - 20px);
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
  }
}