.common-content.homePreview {
  //background: unset;
  box-shadow: unset;
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  color: #333;

  .homeContent {
    width: 100%;
  }

  .homeFooter {
    width: 100%;

    .echartsBlock {
      width: 50%;
    }


  }
}